
nav .logo{
    height: 40px;
    background-color: black;
}

nav .menu {
    height: 70px;
    border-bottom: 1px solid black;
}

/* General */
h2 {
    font-size: 2.6rem;
    margin: 20px 0;
}

h5 {
    color: #626262;
}

.center{
    text-align: center;
    margin-bottom: 50px;
}

button {
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
}

img{
    width: 100%;
}

/* Jumbotron */
.jumbotron {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    height: 70vh; 
    color:white;
}

.ms-jumbo {
    height: 100%;
}

button.buy-now{
    background-color: #bf290f;
    color: white;
    margin-bottom: 50px;
    margin-top: 10px;
}

h2.jumbo-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.jumbo-logo img {
    width: 100%;
}

.jumbo-logo {
    max-width: 270px;
    margin-bottom: 40px;
}


/* Jumbo media */
@media (min-width: 576px){
    .jumbo-logo {
        max-width: 315px;
    }
}

@media (min-width: 768px){
    .jumbo-logo {
        max-width: 400px;
    }
}

@media (min-width: 992px){
    .jumbo-logo {
        max-width: 210px;
    }
}

/* Jumbo-Thumbnails */
.thumbnail img{
    width: 100%;
    border-radius: 16px;
    margin-bottom: 10px;
}

.jumbo-thumbnails {
    margin-top: 20px;
    margin-bottom: 100px;
}

/* Playstation 5 */

.playstation-5 small {
    color:#2a7acf;
}

.playstation-5 h2 {
    margin-bottom: 20px;
}

button.info {
    background-color: #234ae0;
    color:white;
    margin-top: 20px;
}

.console img {
    width: 100%;
}

/* Playstation 5 carousel */
.product-thumbnail img {
    width: 100%;
}

.playstation-5-carousel p {
    display:none;
}

.playstation-5-carousel {
    text-align: center;
    margin-bottom: 30px;
}
.playstation-5-carousel .selected-item{
    border-bottom: 2px solid blue;
}

/* Playstation 5 media */
@media (min-width:768px) {
    .playstation-5-carousel .product-thumbnail {
        max-width: 50%;
        margin: 5px auto;
    }

    .playstation-5-carousel p {
        display:block;
    }
}

/* Game promo il takes two */
.game-promo {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    height: 70vh;
    background-position: center;
    color:white;
    position:relative
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.281);
}

.game-promo .ms-jumbo {
    position:relative;
    z-index:1;
}

/* Game-Promo-Thumbnails */
.game-promo-thumbnails {
    background-color: #181818;
    color:white;
    padding-bottom: 40px;
}

.game-promo-thumbnails h2 {
    margin: 20px 0;
}

.game-promo-thumbnails h3 {
    margin-bottom: 20px;
}

/* Playstation 4 */
.playstation-4 .center h2,
.discount h2 {
    margin-top: 60px;
    margin-bottom: 30px;  
}

.playstation-4 .product-thumbnail{
    margin-bottom: 50px;
}

/* Playstation plus */
.playstation-plus {
    background-color: #b0aead;
}

.playstation-plus img{
    width: 100%;
}

.ps-plus-logo,
.ps-now-logo {
    margin-bottom: 30px;
}

.ps-plus-text,
.ps-now-text{
    margin: 20px 0;
}

.playstation-plus button {
    background-color: #d0d1d4;
    color:#234ae0;
}

/* Discount */
.discount img {
    width: 100%;
    margin-bottom: 40px;
}


/* Playstation now */
.playstation-now {
    background-color: #11142d;
    color: white;
}
