
/* debug */

/* section {
    height: 100vh;
    background-color:aquamarine;
    border: 1px solid black;
} */

/* section:nth-child(odd) {
    background-color: rgb(247, 239, 239);
} */

nav .logo{
    height: 40px;
    background-color: black;
}

nav .menu {
    height: 70px;
    border-bottom: 1px solid black;
}


/* 
.jumbo-thumbnails .col, 
.playstation-carousel .col,
.game-promo-thumbnails .col,
.social .col{
    height: 200px;
    background-color: rgb(192, 236, 238);
    border:1px solid grey;
} */

/* .col {
    border:1px solid grey;
    height: 50px;
} */

/* General */

h2 {
    font-size: 2.6rem;
}



button {
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
}

/* Jumbotron */
.jumbotron {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    height: 70vh; 
    color:white;
}

.ms-jumbo {
    height: 100%;
}

button.buy-now{
    background-color: #bf290f;
    color: white;
    margin-bottom: 50px;
    margin-top: 10px;
}

h2.jumbo-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.jumbo-logo img {
    width: 100%;
}

.jumbo-logo {
    max-width: 270px;
    margin-bottom: 40px;
}


/* Jumbo media */
@media (min-width: 576px){
    .jumbo-logo {
        max-width: 315px;
    }
}

@media (min-width: 768px){
    .jumbo-logo {
        max-width: 400px;
    }
}

@media (min-width: 992px){
    .jumbo-logo {
        max-width: 210px;
    }
}

/* Jumbo-Thumbnails */
.thumbnail img{
    width: 100%;
    border-radius: 16px;
    margin-bottom: 10px;
}

.jumbo-thumbnails {
    margin-top: 20px;
    margin-bottom: 100px;
}

/* Playstation 5 */
.playstation-5 .center{
    text-align: center;
    margin-bottom: 50px;
}

.playstation-5 small {
    color:#2a7acf;
}

.playstation-5 h2 {
    margin-bottom: 20px;
}

.playstation-5 h5 {
    color: #626262;
}

button.info {
    background-color: #234ae0;
    color:white;
    margin-top: 20px;
}

.console img {
    width: 100%;
}

/* Playstation 5 carousel */
.product-thumbnail img {
    width: 100%;
}

.playstation-5-carousel p {
    display:none;
}

.playstation-5-carousel {
    text-align: center;
    margin-bottom: 30px;
}
.playstation-5-carousel .selected-item{
    border-bottom: 2px solid blue;
}

/* Playstation 5 media */
@media (min-width:768px) {
    .product-thumbnail {
        max-width: 50%;
        margin: 5px auto;
    }

    .playstation-5-carousel p {
        display:block;
    }
}

/* Game promo il takes two */

.game-promo {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    height: 70vh;
    background-position: center;
    color:white;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.281);
}

.game-promo .jumbo-logo {
    position:relative;
    z-index:1;
}


